{% include 'header.twig' %}

<article class="{{ post.landing_classes }}">
    <section>
        <p>Uh oh! The page you requested may have been moved or deleted.</p>
        <p><a href="/">Go to the homepage.</a></p>
    </section>
</article>

{% include 'footer.twig' %}