{% extends 'layout.twig' %}

{% block content %}
<div id="remove-me" style="padding: 30px;">
  <h1 style="font-size: 36px; margin-bottom: 0.5em;">hello from index.twig</h1>
  <iframe src="//giphy.com/embed/aWRWTF27ilPzy" width="480" height="359" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/hooray-skeletor-aWRWTF27ilPzy">via GIPHY</a></p>
</div>
{% endblock %}
